@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;

}

body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
}
.main{
     background-color: black;
     background: rgba(0,0,0,0.1);
}

 .titulo{
    text-align:right;
}
